html {
 
}

* {
    -ms-overflow-style: none;
}

body {
    -ms-overflow-style: none;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

#root {
    width: 100%;
    height: 100%;

}
/*
::-webkit-scrollbar {
    display: none;
}*/

    

